* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    height: auto;
    padding: 40px 100px 200px 100px;
    background-color: #191919;
    p{
        color: #949494;
    }
    nav {
        width: 95%;
        height: 70px;
        border-radius: 50px;
        background-color: #1C1C1C;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 0 40px;

        ol {
            display: flex;
            gap: 20px;

            button {
                padding: 10px 16px;
                border-radius: 50px;
                border: none;
                background-color: #262626;
                color: white;

            }

            a {
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
            }

        }

        div {
            p {
                display: flex;
                align-items: center;
                color: white;
            }

            button {
                padding: 12px 20px;
                border-radius: 50px;
                background-color: #CAFF33;
                border: none;
            }
        }
    }

    .col-12 {
        width: 100%;
        display: flex;
        margin-top: 80px;
        flex-wrap: wrap;

        .col-6 {
            width: 50%;
            height: 70vh;
            padding: 0 0 0 35px;
            .po{
                width:70%; 
                margin:65px 0 0 180px;
            }
            .col-3 {
                width: 40%;
                height: 25px;
                border-radius: 50px;
                background-color: #262626;
                display: flex;
                padding: 0 10px;
                color: white;
                gap: 10px;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                margin: 0 0 30px 0;
            }

            div {
                margin: 0 0 50px 0;

                h1 {
                    color: white;
                    padding: 0 150px 0 0;
                    margin: 0 0 20px 0;

                    a {
                        color: #CAFF33;
                    }
                }

                p {
                    color: white;

                }
            }

            button {
                padding: 10px 20px;
                border-radius: 50px;
                border: none;
                color: black;
                background-color: #CAFF33;
            }

            .col-1 {
                width: 23%;
                height: 50px;
                background-color: #262626;
                margin: -30px 0 0 23px;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .jk {
                    color: white;
                    margin-top: 50px;

                    p {
                        font-size: 10px;

                    }

                    b {

                        font-size: 13px;
                    }
                }
            }

            .col-5 {
                width: 65%;
                height: 95%;
                margin: -20px 0 0 80px;
                background-image: url(./foto/6b30b27cab7c9900893ffc3643e48cbd.png);
                background-size: 100px 100px;
                border-radius: 5px;
                padding: 20px 30px;

                .bolt {
                    width: 80%;
                    height: 50px;
                    background-color: #26262635;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin: auto;

                    img {
                        width: 25px;
                    }

                    .pp {
                        margin-top: 52px;

                        p {
                            margin: 0 0 0 10px;
                            font-size: 11px;
                            color: rgba(255, 255, 255, 0.218);
                        }
                    }

                    .bn {
                        margin: 10px 0 0 45%;
                        color: rgba(255, 255, 255, 0.218);
                    }
                }

                .bolt1 {
                    width: 90%;
                    height: 50px;
                    background-color: #26262681;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin: auto;

                    img {
                        width: 25px;

                    }

                    .pp {
                        margin-top: 52px;

                        p {
                            margin: 0 0 0 10px;
                            font-size: 11px;
                            color: rgba(255, 255, 255, 0.448);
                        }
                    }

                    .bn {
                        margin: 10px 0 0 50%;
                        color: rgba(255, 255, 255, 0.448);
                    }
                }

                .bolt2 {
                    width: 100%;
                    height: 50px;
                    background-color: #262626;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;
                    margin: auto;

                    img {
                        width: 25px;
                    }

                    .pp {
                        margin-top: 52px;

                        p {
                            margin: 0 0 0 10px;
                            font-size: 11px;

                        }
                    }

                    .bn {
                        margin: 10px 0 0 55%;
                    }
                }

                .block {
                    width: 100%;
                    height: 180px;
                    border-radius: 10px;
                    background-color: #1C1C1C;

                    margin-top: 20px;
                    padding: 15px;
                    display: flex;

                    .tyu {
                        width: 50%;
                        height: 100%;

                        div {
                            div {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                p {
                                    margin: 0;
                                }
                            }

                            p {
                                margin: -40px 0 0 0;
                                font-size: 12px;
                            }
                        }

                        p {
                            margin: 0;
                        }
                    }
                }

                .button {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #22251b;
                    border-radius: 50px;
                    border: none;
                    margin-top: -50px;
                }

            }
        }
    }

    .qwer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 200px;

        .col-2 {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: white;

            a {
                color: #CAFF33;
            }
        }

        .hg {
            width: 280px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1c1c1c;
            border-radius: 50px;
            margin: 30px 0 0 -30px;
            gap: 15px;

            button {
                padding: 10px 24px;
                border-radius: 50px;
                border: none;
                background-color: #CAFF33;
            }

            a {
                color: white;
            }
        }


    }

    .box {
        width: 100%;
        height: 200px;
        display: flex;
        margin-top: 100px;
        justify-content: space-between;

        .card {
            width: 30%;
            height: 100%;
            display: flex;
            text-align: center;
            gap: 30px;
            justify-content: center;
            flex-direction: column;
            color: white;

            .o {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: #262B1B;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .qwer1 {
        .fg {
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1 {
                a {
                    color: #CAFF33;

                }
            }

            p {
                color: white;
            }
        }


    }
    .col-12{
        .col-9{
            width: 50%;
            height: 400px;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .col-7{
                width: 80%;
                height: 100%;
                border-radius: 10px ;
                background-color: #262626;
                padding:  40px 0 0 40px ;
                display: flex;
                flex-wrap: wrap;
                gap: 0 40px  ;
                .col-4{
                    width: 200px;
                    height: 150px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    background-color: #1C1C1C;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 20px;
                    h4{
                        color: white;
                        font-size: 15px;
                        padding: 0 20px ;
                    }
                    
                }
            }
            
            h2{
              color: #CAFF33;
              font-size: 50px;
            }
            h1{
                color: #CAFF33;
            }
            button{
                width: 120px;
                height: 40px;
                border-radius:50px ;
                border: none;
                background-color: #1c1c1c;
                color: white;
                
            }
        }

    }
    .col-12{
        .col-10{
            width: 100%;
            height: 500px;
            
            display: flex;
            justify-content: space-between;
            .col-13{
                width: 24%;
                height: 60%;
                
                border-radius: 10px;
                background-color: #1c1c1c;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 40px;
                button{
                    width: 230px;
                    height: 50px;
                    border-radius: 50px ;
                    border: 1px solid #262626;
                    background-color: #1c1c1c;
                    color: white;
                    
                }
            }
            .col-14{
                width: 70%;
                height: 100%;
                
                display: flex;
                flex-wrap: wrap;
                gap: 13px 13px;
                .col-77{
                    width: 48%;
                    height: 48%;
                    background-color: #1c1c1c;
                    border-radius:10px ;
                    border: 1px solid #242424;
                    padding: 40px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    margin: 0 0 0 11px;
                    
                    .col-69{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .qwer{
        .fg{
            h1{
                font-size: 60px;
                color: white;
                a{
                    color: #CAFF33;
                }
            }
            p{
                font-size: 15px;
                 padding:  0 250px 0 0 ;
                  margin-top: 20px;
            }
        }
    }
    .col-12{
        .col-77{
            width: 48%;
            height:250px ;
            background-color: #191919;
            border-radius: 10px;
            border: 1px solid #262626;
            padding: 50px;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 30px;
            p{
                color: #949494;
            }
        }
        .fggg{
            padding: 10px 20px;
            border-radius:50px ;
            margin: 0 0 0 580px ;
            border:1px solid #262626;
            background-color: #1c1c1c;
            color: white;
        }
    }
    .col-67{
         width: 100%;
         height: 250px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 100px;
         color: white;
         border-radius:10px ;
         padding: 0 50px;
         background-color: #1c1c1c;
        //  background-image: url(./foto/Abstract\ Design\ \(1\).png);
        //  background-repeat: no-repeat;
        //  background-size: auto;
         .col-2{
            width: 70%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            a{
                color: #CAFF33;
            }
            p{
                padding: 0 0px 0 0;
            }
         }
         .jym{
             padding: 15px 25px; 
             border-radius: 50px;
             border: none;
             background-color: #CAFF33; 
        }
    }
}
.container-fuluit{
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    padding: 0 0 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .col-56{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;    
        flex-direction: column;
        gap: 50px;

       ol{
        display: flex;
        
        gap: 10px;
        a{
            color: #949494;
        }
       }
         
    }
    .col-23{
        width: 800px;
        height: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .col-55{
            display: flex;
            align-items: center;
            color: #949494;
            gap: 5px;
        }
    }
    nav{
        width: 80%;
        height: 50px;
        border: 1px solid #262626;
        display: flex;
        align-items: center;
        padding: 0 50px;
        justify-content: space-between;
        color: #949494;
        margin-top: 100px;
        border-radius: 50px;
        background-color: #1c1c1c;
    }
}
@media screen and (max-width:480px){
    .container{
      width: 480px;
      box-sizing: border-box;
      height: auto;
      padding: 20px 0;
      nav{
        height: 50px;
        font-size: 10px;
        padding: 0 10px;
        ol{
            display: flex;
            gap: 5px;
            button{
                font-size: 10px;
                padding: 5px 10px;
            }
        }
        img{
            width: 50px;
        }
        div{
           button{
            padding: 5px 10px;
            font-size: 10px;
           }
            
        }
        
      }
      .col-12{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        .col-6{
            width: 100%;
            text-align: center;
            padding: 0 40px;
            .po{
                margin: 50px 0 0 150px;
            }
            div{
                h1 {
                    padding: 0 40px;
                    margin: 0;
                    margin: 0 0 20px 0;
                }
            }
            .col-3{
                width: 60%;
                height: 30px;
                margin: 0 0 20px 80px;
            }
            .col-1{
                width: 150px;
                margin: 0;
            }
            .col-5{
                width: 90%;
                margin: auto;
                text-align: start;
                height: 490px;
                .bolt2{
                    height: 50px;
                    .pp{
                        p{
                            font-size: 11px;
                        }
                    }
                    .bn{
                        margin: 10px 0 0 50% ;
                    }
                }
                .bolt1{
                    height: 50px;
                    .pp{
                        p{
                            font-size: 11px;
                        }
                    }
                    .bn{
                        margin: 10px 0 0 40% ;
                    }
                }
                .bolt{
                    height: 50px;
                    .pp{
                        p{
                            font-size: 11px;
                        }
                    }
                    .bn{
                        margin: 10px 0 0 30% ;
                    }
                }
            }
            
        }
      }
      .qwer{
        display: flex;
        flex-wrap: wrap;
        .col-2{
            width: 100%;
            text-align: center;
            padding: 0 50px;
        }
        .hg{
            margin: 20px 0 0 100px;
        }
      }
      .box{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        margin-top:50px;
        height: auto;
        .card{
           width: 100%;
           padding: 0 20px;
        }
      }
      .qwer1{
        text-align: center;
        padding: 80px;
        margin-top: 20px;
      }
      .col-12{
        display: flex;
        flex-wrap: wrap;
        .col-9{
            height: auto;
            width: 100%;
            margin-bottom:50px ;
            button{
                margin: auto;
            }
            .box{
                display: flex;
                flex-wrap: wrap;
                .card{
                    margin: 0;
                    width: 95%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;
                }
            }
            .col-7{
                width: 95%;
                height: 350px;
                margin: auto;
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
                gap:  15px;
                .col-4{
                    width: 48%;
                    height: 48%;
                }
            }
            text-align: center;
            padding:0 20px;
        }
      }
      .qwer{
        .fg{
            margin-top:0 ;
            text-align: center;
            padding:0 20px;
            p{
                margin: 0;
                padding: 0;
            }
        }
      }
      .col-12{
        .col-10{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            
            .col-13{
                width: 80%;
                margin: auto;
                height: 400px;
            }
            .col-14{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0;
                .col-77{
                    width: 90%;
                    margin: auto;
                    margin-top: 10px;
                    height: 200px;
                    margin: 20px 0 0 27px;
                }
            }
        }
      }
      .col-12{
        .col-77{
            width: 95%;
            margin: auto;
            margin-bottom: 0;
        }
      }
      .col-67{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        .jym{
            margin-top: 30px;
        }
      }
    }
    .container-fuluit{
        .col-23{
            .col-55{
                font-size: 10px;
            }
        }
        nav{
            width: 90%;
            display: flex;
            gap: 5px;
            font-size: 10px;
            padding:0 10px ;
            img{
                width: 60px;
                
            }
        }
    }
    
  }